.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 33%);
  width: 400px;
  height: 200px;
  grid-auto-flow: column;
  margin: auto;
}
.box {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  margin: 5px;
}
