//Asignando cor fondo de nav e cor de texto de botón de inicio
$navColor: #997090;
$colorInicio: white;
$baseBorder: 1px solid black;
//Mixin para o texto do nav activo
@mixin activeText() {
  color: $colorInicio;
  font-weight: bold;
}
//Estilo ao contedor xeral quitando o marxe a body para que non queden espazos en branco
body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0;
  nav {
    width: 100%;
  }
  //Estilo para cada unha das figuras coas cards
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: $baseBorder;
    border-radius: 40px;
    padding: 1rem;
    margin: 2%;
    //Estilos anidados de elementos fillos de card
    img {
      width: 100%;
      border-radius: 40px;
    }
    figcaption {
      margin-top: 3%;
    }
  }
}

//Cambiando a lista do nav para que se mostre na mesma línea
ul {
  display: flex;
  gap: 5%;
  list-style: none;
  background-color: $navColor;
  padding: 20px;
  margin: 0;
}
//Elementos anidados para o menú
ul {
  //Cambiando cada elemento da lista para que apareza cursor pointer
  li {
    cursor: pointer;
    //Cambiando o elemento da lista para que ao tera clase active cambie a branco
    &.active {
      @include activeText();
    }
  }
}
